# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Logs
*.log

# Local data
portal-backend/data/uploads/

# Secrets
.env
.env.docker
k8s/file-security-secrets.yaml
overrides.yaml

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.env.demo.local
k8s/secret.yaml
scripts/comandos para secrets

# Basura
claveApi.txt
claveApi.txt
